<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디렉티브 v-for 반복문</title>
    <!-- 오픈소스 -->
    <script src="./vue/lib/vue.js"></script>
    <style>
        table {
            width: 600px;
            margin: 0 auto;
            border-collapse: collapse
        }

        table th {
            background: #f0f0f0;
        }

        table td,
        th {
            border: 1px solid#ccc;
            text-align: center;
            height: 45px;
        }

        #main {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- HTML -->
    <div id="app" align="center">
        <h1>지인 연락처</h1>
        <table>
            <tr>
                <th>이름</td>
                <th>휴대폰단축번호</td>
            </tr>
            <!-- <tr v-for='el in 안에 반복할 속성 addr'> -->
            <tr v-for='el in addr'>
                <td>{{ el.이름 }}</td>
                <td>{{ el.휴대폰단축번호 }}</td>
            </tr>
        </table>

    </div>
    <!-- Vue.js -->
    <div id="main">
        <h1>지인 연락처</h1>
        <!-- <main-component></main-component> -->
        <!-- 실제 존재하지 않는 태그 명이지만, 사용자가 임의로 입력한 태그로 '컴퍼넌트'라고 불리운다-->
        <h1>새로운 영역 생성</h1>
        <ol>
            <li>내용1</li>
            <li>내용2</li>
            <li>내용3</li>
            <li>내용4</li>
            <li>내용5</li>
        </ol>
    </div>


    <script>
        var obj = new Vue({
            el: '#app', // Root
            data: {
                addr: [
                    {
                        이름: '일순신', 휴대폰단축번호: '1'
                    }, {
                        이름: '이순신', 휴대폰단축번호: '2'
                    }, {
                        이름: '삼순신', 휴대폰단축번호: '3'
                    }, {
                        이름: '사순신', 휴대폰단축번호: '4'
                    }, {
                        이름: '오순신', 휴대폰단축번호: '5'
                    }
                ]
            }
        });
        // var main = new Vue({
        //     el: "#main",
        //     data: {
        //         no: 0
        //     },
        //     components: {
        //         'main-component': {
        //             template: '<h1>컴퍼넌트를 생성하고 템플릿트 추가</h1>'
        //         }
        //     }, methods: {

        //     }, created: {

        //     }, beforeUpdate: {

        //     }
        // })
        var main = new Vue({ // 또 다른 뷰 생성(인스턴스 생성)
            el: "#main", // Root
            data: { // Root data 속성
                no: 0
            }
        });
    </script>
</body>

</html>